# ##############################################################################
#   VARIABLES DE ENTORNOS DEL FRONTEND (SÍ VAN A NETLIFY)
# ##############################################################################

# Autenticación Microsoft Azure AD
VITE_AZURE_AD_CLIENT_ID=tu_client_id_aqui
VITE_AZURE_AD_TENANT_ID=tu_tenant_id_aqui

# URL del servidor backend de FastAPI (para Netlify)
# Escribir la IP/FQDN donde estará corriendo el servidor en la LAN. Si no se define, se usará 'http://localhost:8000'
VITE_API_URL=http://192.168.1.123:8000

# Bypass de autenticación para desarrollo local (true/false)
VITE_MOCK_AUTH=true
VITE_MOCK_AUTH_EMAIL=operador.remitos@donyeyo.com.ar


# ##############################################################################
#   VARIABLES DE ENTORNO DEL SERVIDOR LOCAL BACKEND (NO VAN A NETLIFY)
# Clave secreta para autenticar peticiones desde el frontend (Header X-API-Key)
API_SECRET_KEY=dy_secret_remitos_2026_default_key

# Configuración física del Escáner y Delays
SCANNER_NAME=RICOH IM C300
SCAN_OUTPUT_DIR=scanned_documents
SCAN_DPI=200
SCAN_COLOR_MODE=1
SCAN_FORMAT=JPG
SCAN_SOURCE=ADF
SCAN_ADF_DELAY=2.5
SCAN_FILE_WRITE_DELAY=0.5

# Base de datos MySQL de AWS RDS
DB_HOST=tu_host_rds_mysql_aqui
DB_PORT=3306
DB_NAME=Firma_de_remitos
DB_USER=tu_usuario_db
DB_PASSWORD=tu_password_db

# Proveedor de Inteligencia Artificial (gemini, local o powerautomate)
AI_PROVIDER=gemini

# Configuración de Google Gemini
GEMINI_API_KEY=tu_gemini_api_key_aqui

# Configuración del VLM Local (Ollama)
VLM_API_URL=http://localhost:11434/v1
VLM_API_KEY=ollama
VLM_MODEL=qwen2.5vl:7b
VLM_NUM_CTX=16384

# Configuración de Flujo en Power Automate y SharePoint
POWERAUTOMATE_URL=https://tu_endpoint_flow_aqui
SHAREPOINT_FQDN=https://tu_sitio.sharepoint.com

# Configuración de integración con API de Finnegans ERP
FINNEGANS_CLIENT_ID=tu_client_id_aqui
FINNEGANS_CLIENT_SECRET=tu_client_secret_aqui
FINNEGANS_EMPRESA_COD=EMPRE01
FINNEGANS_HTTP_TIMEOUT=90
SYNC_DAYS_BACK=7
LOG_ROTATION_DAYS=7
FINNEGANS_TOKEN_URL=https://api.teamplace.finneg.com/api/oauth/token
FINNEGANS_API_URL=https://api.teamplace.finneg.com/api/reports
FINNEGANS_REMITOS_REPORT_NAME=AFIRMAREMVEN_MG

# Configuración de Notificaciones de Correo SMTP (outlook)
ALERTA_SMTP_HOST=smtp-mail.outlook.com
ALERTA_SMTP_PORT=587
ALERTA_SMTP_USER=tu_email_smtp_aqui
ALERTA_SMTP_PASSWORD=tu_app_password_outlook_aqui
ALERTA_SMTP_NAME="Remitos Don Yeyo S.A."
EMAIL_DESTINATARIOS=gabrielt@donyeyo.com.ar
EMAIL_SILENCIOSO=true
